*{box-sizing:border-box}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: var(--font);
  background-color: var(--bg);
  background-image: 
    radial-gradient(1200px 600px at 30% 10%, rgba(124,241,198,.12), transparent 60%),
    radial-gradient(900px 500px at 80% 0%, rgba(120,170,255,.10), transparent 55%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text);
}
/* ===== FIX PARA EL SELECTOR DE TRACK ===== */
select option {
  background-color: var(--panel);
  color: var(--text);
  padding: 10px;
}

/* Y de paso le quitamos el borde feo al hacer click en el select */
select:focus {
  outline: none;
  box-shadow: none;
}
